Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4
stamp-*
*.exe
*.make
*.o
*.la
*.lo
*.gir
*.typelib
*.pc
*.sw?
*~
.libs
.deps
